@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --shade-blue: hsl(211, 18%, 29%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}


/* CSS Reset*/
*, 
*::before,  
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-size: 15px;
  font-family: 'Overpass', sans-serif;
  background-color: var(--very-dark-blue);
  color: var(--white);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

/* STYLE RATING STATE*/
.main__rating,
.main__response {
  background-color: var(--dark-blue);
  padding: 2rem;
  border-radius: 1rem;
  height: 80%;
}

.main__hidden {
  display: none;
}

.rating__image {
  background-color: var(--shade-blue);
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.rating__list {
  list-style: none;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.rating__list:hover > .list__item {
  background-color: var(--light-grey);
}

.rating__list:hover > .list__item:hover {
  background-color: var(--orange);
}

.list__item {
  background-color: var(--shade-blue);
  border-radius: 50%;
  text-align: center;
  line-height: 3rem;
  width: 3rem;
}

.list__item:hover {
  background-color: var(--orange);
  cursor: pointer;
}

.main__button {
  border: 0;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  width: 100%;
  border-radius: 2rem;
}

.main__button--rating {
  background-color: var(--orange);
  color: var(--white);
}

.main__button--rating:hover {
  background-color: var(--white);
  color: var(--orange);
  cursor: pointer;
}

/* STYLE RESPONSE STATE*/
.main__response {
  text-align: center;
}

.response__image {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.main__button--response {
  color: var(--orange);
  background-color: var(--shade-blue);
  margin-bottom: 1.5rem;
  width: 60%;
}

.response__title {
  margin-bottom: 1rem;
}


.attribution { 
  font-size: 11px; 
  text-align: center; 
}
    
.attribution a {
   color: hsl(228, 60%, 60%); 
}


.parent {
   display: flex;
   list-style: none;
   justify-content: space-between;
}

.parent:hover > .list__item {
  background-color: var(--light-grey);
}

.parent:hover > .list__item:hover {
  background-color: var(--orange);
}